.textOnClick {
    cursor: pointer;
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
}

.input-value {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button {
    margin-left: 1rem;
}

span:hover {
    cursor: pointer;
    text-decoration: underline;
}